![test report part 1](images/test-part1.png "image of test report 1")
![test report part 2](images/test-part2.png "image of test report 2")
![test report part 3](images/test-part3.png "image of test report 3")